n8n-workflow.json
{
  "name": "Proposal Generator - ExposeProfi",
  "nodes": [
    {
      "parameters": {
        "path": "create-proposal",
        "responseMode": "lastNode",
        "options": {
          "responseData": "allEntries"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "create-proposal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.client_id,\n  c.company_name,\n  c.street,\n  c.postal_code,\n  c.city,\n  c.country,\n  c.contact_person,\n  c.email,\n  p.project_id,\n  p.project_name,\n  p.project_number,\n  p.delivery_time,\n  p.created_at\nFROM clients c\nINNER JOIN projects p ON c.client_id = p.client_id\nWHERE p.project_id = {{ $json.projectId }}",
        "options": {}
      },
      "id": "get-client-data",
      "name": "Get Client & Project Data",
      "type": "n8n-nodes-base.mysql",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "mysql": {
          "id": "1",
          "name": "MySQL Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  item_type,\n  quantity,\n  unit_price,\n  description,\n  custom_details\nFROM project_items\nWHERE project_id = {{ $('Webhook Trigger').item.json.projectId }}\nORDER BY item_order",
        "options": {}
      },
      "id": "get-project-items",
      "name": "Get Project Items",
      "type": "n8n-nodes-base.mysql",
      "typeVersion": 2,
      "position": [460, 480],
      "credentials": {
        "mysql": {
          "id": "1",
          "name": "MySQL Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "functionCode": "// HTML Template (you can also load this from a file or database)\nconst htmlTemplate = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Angebot</title>\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .header { display: flex; justify-content: space-between; }\n        table { width: 100%; border-collapse: collapse; }\n        th, td { border: 1px solid #ddd; padding: 8px; }\n    </style>\n</head>\n<body>\n    <h1>Angebot Nr. {{offerNumber}}</h1>\n    <p>Datum: {{date}}</p>\n    <p>{{companyName}}<br>{{street}}<br>{{postalCode}} {{city}}</p>\n    <table>\n        <tr><th>Anzahl</th><th>Bezeichnung</th><th>Preis</th></tr>\n        {{itemRows}}\n        <tr><td colspan=\"2\"><strong>Gesamt (netto)</strong></td><td><strong>{{nettoTotal}} €</strong></td></tr>\n    </table>\n</body>\n</html>`;\n\n// Get data from previous nodes\nconst clientData = $input.first().json;\nconst items = $('Get Project Items').all().map(item => item.json);\nconst webhookData = $('Webhook Trigger').first().json;\n\n// Generate offer number\nconst year = new Date().getFullYear();\nconst projectId = String(webhookData.projectId).padStart(4, '0');\nconst offerNumber = webhookData.offerNumber || `${year}-${projectId}`;\n\n// Format date\nconst today = new Date().toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\n// Calculate totals\nlet nettoTotal = 0;\nitems.forEach(item => {\n  nettoTotal += (item.quantity || 0) * (item.unit_price || 0);\n});\n\nconst mwst = nettoTotal * 0.19;\nconst bruttoTotal = nettoTotal + mwst;\n\n// Build item rows\nconst itemRows = items.map(item => `\n  <tr>\n    <td>${item.quantity}</td>\n    <td>${item.item_type}<br><small>${item.description || ''}</small></td>\n    <td>${(item.quantity * item.unit_price).toFixed(2)} €</td>\n  </tr>\n`).join('');\n\n// Replace placeholders\nlet html = htmlTemplate\n  .replace('{{offerNumber}}', offerNumber)\n  .replace('{{date}}', today)\n  .replace('{{companyName}}', clientData.company_name || '')\n  .replace('{{street}}', clientData.street || '')\n  .replace('{{postalCode}}', clientData.postal_code || '')\n  .replace('{{city}}', clientData.city || '')\n  .replace('{{itemRows}}', itemRows)\n  .replace('{{nettoTotal}}', nettoTotal.toFixed(2));\n\n// Generate filename\nconst dateStr = new Date().toISOString().split('T')[0].replace(/-/g, '');\nconst safeName = (clientData.company_name || 'client')\n  .replace(/[^a-zA-Z0-9]/g, '_')\n  .substring(0, 30);\nconst filename = `${dateStr}_Angebot_${offerNumber}_${safeName}.docx`;\n\nreturn [{\n  json: {\n    html: html,\n    filename: filename,\n    offerNumber: offerNumber,\n    clientName: clientData.company_name,\n    totalAmount: bruttoTotal.toFixed(2),\n    projectId: webhookData.projectId\n  }\n}];"
      },
      "id": "process-template",
      "name": "Process Template",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudmersive.com/convert/html/to/docx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "htmlContent",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "convert-to-docx",
      "name": "Convert HTML to DOCX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Cloudmersive API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/Proposals/{{ $now.format('yyyy') }}/{{ $('Process Template').item.json.filename }}",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "save-to-onedrive",
      "name": "Save to OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 2,
      "position": [1340, 380],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "3",
          "name": "OneDrive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "proposals",
        "columns": "project_id, offer_number, file_path, total_amount, status, created_at",
        "values": "={{ $('Process Template').item.json.projectId }}, '={{ $('Process Template').item.json.offerNumber }}', '={{ $json.path }}', {{ $('Process Template').item.json.totalAmount }}, 'draft', NOW()"
      },
      "id": "save-proposal-record",
      "name": "Save Proposal Record",
      "type": "n8n-nodes-base.mysql",
      "typeVersion": 2,
      "position": [1340, 560],
      "credentials": {
        "mysql": {
          "id": "1",
          "name": "MySQL Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "email": "={{ $('Get Client & Project Data').item.json.email }}",
        "fromEmail": "proposals@exposeprofi.de",
        "fromName": "ExposeProfi.de",
        "subject": "=Ihr Angebot {{ $('Process Template').item.json.offerNumber }}",
        "message": "=Sehr geehrte Damen und Herren,\n\nanbei finden Sie Ihr persönliches Angebot für das Projekt \"{{ $('Get Client & Project Data').item.json.project_name }}\".\n\nBei Fragen stehen wir Ihnen gerne zur Verfügung.\n\nMit freundlichen Grüßen\nIhr ExposeProfi.de Team",
        "attachments": "data",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email (Optional)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1560, 380],
      "disabled": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Proposal generated successfully\",\n  \"data\": {\n    \"offerNumber\": $('Process Template').item.json.offerNumber,\n    \"filename\": $('Process Template').item.json.filename,\n    \"filePath\": $('Save to OneDrive').item.json.path,\n    \"clientName\": $('Process Template').item.json.clientName\n  }\n} }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 380]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Client & Project Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Project Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client & Project Data": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Items": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Process Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template": {
      "main": [
        [
          {
            "node": "Convert HTML to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to DOCX": {
      "main": [
        [
          {
            "node": "Save to OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to OneDrive": {
      "main": [
        [
          {
            "node": "Save Proposal Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Optional)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Proposal Record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-29T00:00:00.000Z",
  "versionId": "1"
}
