n8n-workflow-upload-to-outlook.json
{
  "name": "Upload Generated Proposal to Outlook (Microsoft Graph)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "bash",
        "args": [
          "-lc",
          "node /home/kingsley-sama/property-visualizer/document-draft_proposals/examples.js >/dev/null 2>&1 || true; ls -t /home/kingsley-sama/property-visualizer/document-draft_proposals/output | head -1"
        ]
      },
      "id": "run-script",
      "name": "Run Generator & Get Latest File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build absolute path to newest generated file\nconst stdout = $input.first().json.stdout || '';\nconst filename = stdout.toString().trim();\nif (!filename) throw new Error('No file was found in the output directory.');\nconst base = '/home/kingsley-sama/property-visualizer/document-draft_proposals/output';\nconst fullPath = `${base}/${filename}`;\nreturn [{ json: { filename, path: fullPath } }];"
      },
      "id": "build-path",
      "name": "Build File Path",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "binaryPropertyName": "file"
      },
      "id": "read-file",
      "name": "Read Generated File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "functionCode": "// Prepare Graph API payload (sendMail) with the file as an attachment.\nconst item = $input.first();\nconst filename = $json.filename || 'attachment.docx';\nif (!item.binary || !item.binary.file) throw new Error('Binary file not found on input.');\n// n8n stores binary.data as base64 already\nconst base64 = item.binary.file.data;\nconst body = {\n  message: {\n    subject: `Generated Proposal: ${filename}`,\n    body: {\n      contentType: 'Text',\n      content: 'Please find the generated proposal attached.'\n    },\n    toRecipients: [\n      { emailAddress: { address: 'recipient@example.com' } }\n    ],\n    attachments: [\n      {\n        '@odata.type': '#microsoft.graph.fileAttachment',\n        name: filename,\n        contentBytes: base64\n      }\n    ]\n  },\n  saveToSentItems: true\n};\nreturn [{ json: { body } }];"
      },
      "id": "build-payload",
      "name": "Build Graph Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/sendMail",
        "authentication": "oAuth2",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json.body }}"
      },
      "id": "send-mail",
      "name": "Send via Microsoft Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "1",
          "name": "Microsoft Graph OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Daily Cron": {
      "main": [
        [
          {
            "node": "Run Generator & Get Latest File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Generator & Get Latest File": {
      "main": [
        [
          {
            "node": "Build File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build File Path": {
      "main": [
        [
          {
            "node": "Read Generated File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Generated File": {
      "main": [
        [
          {
            "node": "Build Graph Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Graph Payload": {
      "main": [
        [
          {
            "node": "Send via Microsoft Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
